@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400&display=swap');

:root {
    --white: #FFFFFF;
    --black: #000000;
    --bgr: #EEEEEE;
    --font: 'Space Grotesk';
    --placeholder: #A4A3A4;
    --font_color: #1B191C;
    --yellow: #F8D231;
    --str_error: #C6A827;
    --player_background: #CFD3D6;
    --track_line: #ADACAD;
}

html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: auto;
    background-color: var(--bgr);
    font-family: var(--font);
}

/* Insert */
#main {
    display: flex;
    flex-direction: column;
    
    margin: auto;
    top: 50%;
    width: 889px;
    height: 162px;
    position: relative;

    padding: 0px;
}

#head {
    position: absolute;
    display: flex;
    margin: 0px;
    height: 52px;
    width: 520px;

    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 52px;

    letter-spacing: -1px;

    color: var(--font_color);
}

.insert {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 889px;
    height: 96px;
    left: 0px;
    bottom: 0px;
}

#input_place {
    background-color: var(--white);
    padding: 0px;
    width: 793px;
    height: 96px;
    display: flex;
    align-items: center;
}

.input-base {
    flex-grow: 1;
    border: none;
    height: 32px;
    font-family: var(--font);
    outline:none;
    color: var(--font_color);

    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.4px;
}

.input-ok {
    margin: 32px 16px;
    min-width: 729px;
}

#input::-webkit-input-placeholder { color: var(--placeholder); }

#submit {
    width: 96px;
    height: 96px;
    border-radius: 0%;
    border: none;
    padding: 0px;
    background-color: var(--yellow);
}

/* Error window */
.but_error {
    margin: 36px 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    border-radius: 0%;
    border: none;
    padding: 0px;
    background-color: #fff;
}

.input-err {
    margin: 32px 0px 32px 16px;
    width: 729px;
}

.str_error {
    position: absolute;
    top: 167px;
    width: 793px;
    height: 16px;
    color: var(--str_error);

    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.3px;
}

/* Player */
#player {
    display: none;
    flex-direction: column;
    margin: auto;
    top: 50%;
    width: 620px;
    height: 300px;
    position: relative;
    padding: 0px;
}

#source {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;

    overflow: hidden;
    max-width: 620px;
    max-height: 32px;
    white-space: nowrap;
    text-overflow: ellipsis ;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.4px;

    color: var(--font_color);

}


#back {
    position: absolute;
    bottom: 0px;
    border: none;
    left: 0px;
    margin: 0px;
    width: 80px;
    height: 32px;
    padding: 0px;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.4px;
    
    color: var(--font_color);
}

/* Widget loading */
#widget_player {
    background-color: var(--player_background);
    position: absolute;
    top: 53px;
    left: 0px;
    margin: 0px;
    width: 620px;
    height: 198px;
}

#widget_play {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0px;
    background-color: var(--player_background);

}

#play_pause {
    position: absolute;
    top: 0px;
    left: 0px;
}

.path_play {
    display: flex;
}

.rect_pause, .rect_pause2 {
    display: none;
}

#audio_track {
    position: absolute;
    top: 105px;
    left: 20px;
    width: 580px;
    height: 12px;
    order: 2;
}

#widget_track_line {
    -webkit-appearance: none;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    left: 0px;
    width: 580px;
    height: 2px;
    background: var(--track_line);
}

#widget_track_line::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 12px;
    background: var(--white);
    border-radius: 6px;
    cursor: pointer;
}

#widget_progress {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 16px;
    height: 12px;
    border-radius: 6px;
    background-color: var(--white);
}

#widget_time_volume {
    position: absolute;
    top: 162px;
    left: 20px;
    width: 580px;
    height: 16px;
}

#widget_time {
    position: absolute;
    top:0px;
    left: 0px;
    width: 33px;
    height: 16px;
    outline: 1px solid blue;
}

#widget_volume {
    -webkit-appearance: none;
    position: absolute;
    top: 7px;
    left: 328px;
    width: 252px;
    height: 2px;
    background-color: var(--white);

}

#widget_volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 12px;
    background: var(--black);
    border: none;
    cursor: pointer;
}


#volume_line {
    position: absolute;
    top: 7px;
    left: 328px;
    width: 252px;
    height: 2px;
    background-color: var(--white);
}

#volume_level {
    position: absolute;
    top: 2px;
    left: 412px;
    width: 16px;
    height: 12px;
    border: none;
    background-color: var(--black);
}