@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400&display=swap');

:root {
    --white: #FFFFFF;
    --black: #000000;
    --bgr: #EEEEEE;
    --font: 'Space Grotesk';
    --placeholder: #A4A3A4;
    --font_color: #1B191C;
    --yellow: #F8D231;
    --str_error: #C6A827;
    --player_background: #CFD3D6;
    --track_line: #ADACAD;
}

html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: auto;
    background-color: var(--bgr);
    font-family: var(--font);
}
